:root {
    --background-color: #181818;
    --border-color: #2a2a2a;
    --font-color: #d7d7d7;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    box-sizing: border-box;
    grid-template-areas:
        "activity-bar sidebar-header tab-bar"
        "activity-bar sidebar editor";
    grid-template-rows: 30px 1fr;
    grid-template-columns: 50px 285px 1fr;
    background-color: var(--background-color);
    color: #505050;
    font-family: sans-serif;
}

.activity-bar {
    grid-area: activity-bar;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 15px;
    border-right: 1px solid var(--border-color);
}

.codicon {
    font-size: 24px !important;
    cursor: pointer;
}

.codicon:hover {
    color: var(--font-color);
}

.codicon.selected {
    color: var(--font-color);
    box-shadow: inset 4px 0 0 #0078d4;
}

.sidebar-header {
    grid-area: sidebar-header;
    font-size: 11px;
    padding: 5px 10px;
    color: var(--font-color);
    padding-left: 20px;
    padding-top: 10px;
    border-right: 1px solid var(--border-color);
}

.tab-bar {
    grid-area: tab-bar;
}

.sidebar {
    grid-area: sidebar;
    border-right: 1px solid var(--border-color);
}

.sidebar-file {
    display: flex;
    color: var(--font-color);
    height: 20px;
    padding-left: 12px;
    font-size: 13px;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.sidebar-file:hover {
    background-color: #212121;
    color: white;
}

.sidebar-file.selected {
    background-color: #2E2E2E;
    color: white;
}

.editor {
    grid-area: editor;
}

@font-face {
    font-family: 'Seti';
    src: url('https://cdn.jsdelivr.net/npm/seti-ui@1.11.0/styles/_fonts/seti/seti.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/npm/seti-ui@1.11.0/styles/_fonts/seti/seti.woff') format('woff'),
        url('https://cdn.jsdelivr.net/npm/seti-ui@1.11.0/styles/_fonts/seti/seti.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.seti-icon {
    font-family: 'Seti';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    font-size: 20px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.seti-icon::before {
    display: block;
}

.seti-markdown::before {
    content: "\E061";
    color: #519aba;
}
